{% extends "layout.html" %}
{% block title %}
About Tom's word tools
{% endblock %}
{% block navbar %}
    {% for nav_bar_item in nav_bar_items %}
        {% if nav_bar_item == selected %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-brand"> {{ nav_bar_item }} </a>
        {% else %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-item"> {{ nav_bar_item }} </a>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<p>This is an attempt to use Flask to create a web page frontend to 
some code for finding words, anagrams, palindomes, etc.</p>
{% endblock %}