{% extends "layout.html" %}
{% block title %}
Anagrams
{% endblock %}
{% block navbar %}
    {% for nav_bar_item in nav_bar_items %}
        {% if nav_bar_item == selected %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-brand"> {{ nav_bar_item }} </a>
        {% else %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-item"> {{ nav_bar_item }} </a>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<p>Enter a word and find anagrams</p>

<label for="ana_word">Find Anagrams for:</label>
<input type="text" id="ana_word" name="ana_word">



{% endblock %}