{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block navbar %}
    {% for nav_bar_item in nav_bar_items %}
        {% if nav_bar_item == selected %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-brand"> {{ nav_bar_item }} </a>
        {% else %}
            <a href="{{ url_for( nav_bar_item.lower() ) }}" class="navbar-item"> {{ nav_bar_item }} </a>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content %}
<p>Home page for the Tom's Word Tools.</p>
{% endblock %}