<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="page-title">
            Tom's Word Tools
        </div>

        <div class="navbar">
            {% block navbar %}
            {% endblock %}
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2021</p>
            </footer>
        </div>
    </body>
</html>
